<!DOCTYPE html>
<html lang="en" ng-app="minorThings">
<head>
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="styles.css">
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-route/angular-route.min.js"></script>
	<script src="bower_components/firebase/firebase.js"></script>
	<script src="bower_components/angularfire/dist/angularfire.min.js"></script>

	<script src="app/app.js"></script>
	<script src="app/products/products.js"></script>
	<script src="app/app.service.js"></script>
	<script src="app/rating/rating.directive.js"></script>
	<meta charset="UTF-8">
	<title>Minor Things</title>
</head>
<body ng-controller="ThisCtrl">
	<nav class="navbar navbar-default navbar-static-top">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Minor Things</a>
	    </div>
	      <form class="navbar-form navbar-left">
	          <div class="input-group">
	          <input type="text" class="form-control" placeholder="Search" aria-describedby="search-addon" ng-model="searchProd">
	          <span class="input-group-addon" id="search-addon">
	            <span class="glyphicon glyphicon-search"></span>
	          </span>
	        </div>
	      </form>
	      <ul class="nav navbar-nav navbar-right" ng-if="!currentUser">
	        <li ng-if="isLogin"><a href="#"  ng-click="toggleForm()" >Enter</a></li>
	        <li ng-if="isRegistrating"><a href="#"  ng-click="toggleForm()">Sign In</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right" ng-if="currentUser">
	      	<li>
		      	<p class="navbar-text">{{currentUser}}</p>
		      </li>
	        <li><a href="#" ng-click="signOut()">Exit</a></li>
	      </ul>
	  </div><!-- /.container-fluid -->
	</nav>
	
	<div ng-include="'app/templates/login.template.html'" ng-show="formIsOpen" class="form"></div>
		<div class="row" ng-controller="ProductsController">
			<div class="col-sm-3">
				<aside id="sidebar">
					<div class="media" ng-repeat="product in products | filter: searchProd" ng-click="setCurrentProduct(product)" ng-class="{'active': isCurrentProduct(product)}">
					  <div class="media-left media-middle">
					    <a href="#">
					      <img class="media-object" ng-src="{{product.image_sm}}" alt="{{product.title}}">
					    </a>
					  </div>
					  <div class="media-body">
					    <h4 class="media-heading">{{product.title}}</h4>
					    {{product.text | limitTo: 20}}...
					  </div>
					</div>
				</aside>
			</div>
			<div class="col-sm-9">
				<section>
					<article class="product-item">
						<div class="row">
							<div class="col-sm-11">
									<div class="panel panel-default">
										<div class="clearfix">
											<img class="img-responsive" ng-src="{{currentProd.image}}" alt="">
									  	<h4>{{currentProd.title}}</h4>
  										<star-rating ng-model="rating2" readonly="isReadonly"></star-rating>
									   	<p>{{currentProd.text}}</p>
									  </div>
									  <button class="btn btn-sm btn-default"  ng-click="seeAllComments()" ng-if="currentUser">Leave a comment</button>
									  <button class="btn btn-sm btn-default"  ng-click="openCommentField()">See all comments</button>
									  
									  <div ng-if="myComment">
										  <h4 class="comments-heading">Comment:</h4>

										  <div class="rating">
										  	<span> Leave a rating:</span>
  											<span star-rating ng-model="userRating" max="5" on-rating-select="rateFunction(userRating)"></span>
										  </div>

										  <div class="comment-field text-center">
										  	<textarea rows="4" class="form-control" ng-model="userComment"></textarea>
										  	<button class="btn btn-sm btn-default" ng-click="saveComment(userComment, userRating, currentProd.id, currentUser)">Post</button>
										  </div>
										</div>
										
										<div ng-if="allComments">
											<h4 class="comments-heading">All comments:</h4>

										  <div class="all-comments" >
											  	<div class="panel panel-default comments" ng-repeat="comment in comments" ng-if="comment.product_id == currentProd.id">
													  <div class="panel-body">
													    <p class="label label-default">{{comment.user}}</p>
													    <p>{{comment.comment}}</p>
													  </div>
													</div>
											</div>
										</div>

									</div>
							</div>
						</div>	
					</article>
				</section>

			</div>	
		</div>

</body>
</html>



