@import 'https://fonts.googleapis.com/css?family=Gochi+Hand|Raleway:300,400,400i,500,700';
/*@import "compass/css3";*/


body{
	background: #bdc3c7;
	font-family: 'Raleway', sans-serif;
}

.panel.panel-default {
	border-radius: 1px;
}

.panel-default > .panel-heading {
  background-color: #fff;
}

.panel-heading {
	line-height: 1.5em;
}

/*--------------------------
 navigation
 ---------------------------*/
.navbar-default { 
	background: #e74c3c;
	border: none;
	margin:0;
}

.navbar-default .nav.navbar-nav a {
	color: #e74c3c;
	background: #fff;
}

.navbar-default .nav.navbar-nav a:hover,
.navbar-default .nav.navbar-nav a:focus {
	background: #fff;
	color: #e74c3c;
}

.navbar-default .form-control {
	background: #e74c3c;
	border: none;
	border-bottom: 1px solid #fff;
	border-radius: 1px;
	box-shadow: none;
	color: #fff;
	outline: none;
}

.navbar-default .form-control::-webkit-input-placeholder { color: white; }
.navbar-default .form-control:-moz-placeholder { color: white; }
.navbar-default .form-control::-moz-placeholder { color: white; }
.navbar-default .form-control:-ms-input-placeholder { color: white; }

#search-addon {
	background: #e74c3c; 
	border: none;
	border-radius: 1px;
	border-bottom: 1px solid #fff;
	color: #fff;
	cursor: pointer;
}

.navbar-default .navbar-brand { 
	color: #fff;
	font-family: 'Gochi Hand', cursive;
	font-size: 2em;
	padding: 15px 50px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus { 
	color: #fff; 
	text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.navbar-default .navbar-text {
	color: #fff;
}


/*--------------------------
 sidebar
 ---------------------------*/
 #sidebar {
 	background: #fff;
 	height: 100vh;
 }

.media {
	padding: 5px;
	margin: 0;
	border-bottom: 1px solid #eaeaea;
}

.media:hover {
	background: #ecf0f1;
	color: #333;
}

.media.active {
	background: #ecf0f1;
	color: #333;
}
/*--------------------------
 main
 ---------------------------*/

 .product-item {
 	margin: 30px 0;
 }

 .panel.panel-default {
 	padding: 10px;
 }

 .img-responsive {
 	margin: 0 10px 20px 0;
 	float: left;
 	width:30%;
 }

 .btn.btn-default {
 	border-radius: 1px;
 	border: 1px solid #2980b9;
 	color: #2980b9;
 }

 .btn.btn-default:active, .btn.btn-default:hover, .btn.btn-default:focus {
 	border: 1px solid #2980b9;
 	background: #2980b9;
 	color: #fff;
 	outline: none;
 }

 /*--------------------------
 comments
 ---------------------------*/
	.rating {
		padding: 0 0 0 20px;
	}

 .comments {
 	border:none;
 	 box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
 }

 .comments > .panel-body {
 	  padding:0px;
 }
	
	.comment-field, .all-comments {
		height:200px;
		overflow:auto;
		padding:20px
	}

	.comment-field .btn-default {
		width: 50%;
		margin: 20px 0 0;
		color: #fff;
		background: #2980b9;
		
	}

	.comment-field .btn-default:hover {
		font-weight:bold;
		color: #fff;
	}

	.comments-heading {
		margin-top: 15px;
		padding: 10px 20px;
		background: #ecf0f1;
	}

 .form-control {
 	border-radius: 1px;
 }

 .label.label-default {
 	border-radius: 1px;
 	background: #bdc3c7;
 	padding: 3px 7px;
 }

  /*--------------------------
 comments scroll
 ---------------------------*/


 .all-comments::-webkit-scrollbar {
    width: 8px;
}
 
/* Track */
.all-comments::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
.all-comments::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #ecf0f1; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.all-comments::-webkit-scrollbar-thumb:window-inactive {
	background: #ecf0f1;
}

.form {
	box-shadow: 0, 0, 4px, 2px rgba(0,0,0,0.5);
	width: 350px;
	position: absolute;
	right:0;
	z-index:1;
}

.form .panel.panel-default .btn-default {
	background: #2980b9;
	color: #fff;
}

.form .panel.panel-default .btn-default:hover {
	font-weight: bold;
	color: #fff;
}


.form .panel.panel-default p {
	color: #2980b9;
	cursor: pointer;
	margin: 10px 0;
}

  /*--------------------------
 rating 
 ---------------------------*/

.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
} 

  .star {
    padding: 1px;
    color: #ddd;
    font-size: 18px;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
  }

    .star.filled {
      color: #fd0;
    }


  .star-rating.readonly .star.filled {
    color: #fd0;
  }

