<div class="panel panel-default">
	<form>
		<div class="form-group">
			<label for="email">Email:</label>
			<input type="email" id="email" class="form-control" ng-model="email">
		</div>
		<div class="form-group">
				<label for="password">Password:</label>
				<input type="password" id="password" class="form-control" ng-model="password">
		</div>
		<div class="form-group" ng-if="isLogin">
			<button class="btn btn-block btn-default" ng-click="loginUser(email, password)">Log in</button>
			<p ng-click="switchForm()">Click for registration here >>></p>
		</div>

		<div class="form-group" ng-if="isRegistrating">
			<button class="btn btn-block btn-default" ng-click="registrateUser(email, password)">Registrate</button>
			<p ng-click="switchForm()">Already registrated? Click here >>></p>
		</div>
	</form>
</div>
